body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #989797;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
    border-bottom: 2px solid #333333;
}

h1 {
    margin: 0;
    font-size: 2rem;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.buffer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    padding: 10px;
    background-color: #1f1f1f;
    border: 2px solid #333333;
    border-radius: 10px;
}

.buffer div {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #333333;
    border: 1px solid #555555;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #989797;
    font-size: 0.9rem;
}

.item {
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #989797;
    font-weight: bold;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.1);
}

.controls {
    margin: 20px 0;
}

.controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #989797;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #555555;
}

.logs {
    width: 80%;
    max-width: 600px;
    height: 150px;
    overflow-y: auto;
    background-color: #1f1f1f;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.status {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #7e7e7e;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}